---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Gill Sans", "Gill Sans MT", "Calibri", "sans-serif";
$heading-family: "Gill Sans", "Gill Sans MT", "Calibri", "sans-serif";
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #27ae60;

$grey-color:       #737170;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$secondary-color: rgba(252,182,17,1);
$green-normal:     #05a94b;
$green-hover:      #04a144;
$green-click:      #05a94b;
$social-icon-normal:   #737170;
$twitter-hover:    #00aced;
$facebook-hover:   #3b5998;
$red-color:        #ef4036;
$white-color:      #fff;


$on-palm:          600px;
$on-laptop:        800px;


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}




// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "bourbon/bourbon", // http://bourbon.io/
        "breakpoints",
        "mixins",
        "layout",
        "syntax-highlighting"

;
