---
layout: default
title: Webcamp Ljubljana 2016
---

<p>
		WebCamp Ljubljana is the unconference where Web developers share knowledge, experience, and vim configurations.
		<br><br>
		It's organized <b>by the community for the community</b>. There will be over 300 attendees from Slovenia and the region. All talks will be in English.
		<br><br>
		Topics that will be covered are: <b>Front end</b>, <b>Back end</b> and <b>DevOps</b>.

		There will be three tracks: <b>Front-end</b>, <b>Back-end</b> and <b>DevOps</b>.
		And the fourth, most important one: <b>Good Time</b> with old and new friends,  good coffee and lots and lots of discussions with interesting people.
		<br><br>
		We want our events to be open and welcoming to everyone, so we ask you that you follow our <a href="{{ site.baseurl }}/code-of-conduct"  target="_blank">Code of Conduct</a>.
</p>

<div id="location" class="section">
	<h1>Location and Tickets</h1>

	<p>
		<b>When:</b> 12th March 2016<br />
		<b>Where:</b> Faculty of Computer and Information Science, Ljubljana<br />
		<b>Cost:</b> free, but you need a ticket<br />
	</p>

	<p>Tickets will be available in February 2016. <b>We'll announce them only on the mailing list.</b><br /> Make sure you subscribe.</p>
</div>

<div class="section">
  <div class='embed-container'>
    <iframe src='https://www.youtube-nocookie.com/embed/ZlhGh-nx734?rel=0&amp;showinfo=0' frameborder='0' allowfullscreen></iframe>
  </div>
</div>

<!--
<div id="cfp" class="section">
  <h1>Call for Talks</h1>

  <h2>Come give us a talk on:</h2>
  <ul>
    <li>Front-end (HTML5, CSS, JavaScript, ..)</li>
    <li>Back-end (Frameworks, Languages, Middleware)</li>
    <li>DevOps (Virtualization, Orchestration, Practical approaches)</li>
    <li>or anything web developers care about</li>
  </ul>

  <h2>Talk format:</h2>

  <ul>
    <li>You have 25 minutes. Your talk should work offline. Screenshots are you best friends.</li>
    <li>We want interesting stories. Everyone can read a tutorial.</li>
    <li>We like videos more than demos. Come prepared.</li>
    <li>You can suggest a 5 minute <i>lightning talk</i> at the venue.</li>
  </ul>


  <h2>Timeline:</h2>
  <ul>
    <li>Friday, January 15 - Submission deadline</li>
    <li>Monday, February 1 - We'll notify The Chosen Ones</li>
    <li>Tuesday, February 16th - We tell everybody</li>
  </ul>


  <h2>
    <a href='https://webcamp.typeform.com/to/ZMs0gp' class="btn btn-default" target="_blank">Submit your talk</a>
  </h2>
</div>
-->
<div id="talks" class="section">
  <h1>Talks</h1>
	<div class="container-fluid">
		<div class="row">
			{% assign posts = site.posts | sort:"name" %}
			{% for post in posts %}
				{% if post.role == 'talk' %}
					<div class="col-xs-12 col-sm-6 col-md-4">
							<a href="{{ site.baseurl }}{{ post.url }}"><span class="talk-info">
								<img class="talk-image" src="{{ site.baseurl }}/assets/images/speakers/{{ post.avatar }}" />
								<div class="talker-name">
									{{ post.name }}
								</div>
								<div class="talk-title">
									{{ post.title }}
								</div>
								<span class="talk-role talk-bottom">
						 			{{ post.track }}
								</span>
							</span>
						</a>
					</div> <!-- end div col-xs-12 col-sm-6 col-md-4 col-lg-3 -->

				{% endif %}
			{% endfor %}
	 		<div class="clearfix"></div>
		</div> <!-- end div row -->
	</div> <!-- end div container-fluid -->
</div>

<div id="2015" class="section">
  <h1>Higlights from 2015</h1>

  <div class='embed-container'>
    <iframe src='https://www.flickr.com/photos/webcampsi/albums/72157650973111250/player' frameborder='0' allowfullscreen></iframe>
  </div>

  <h2>Check out talk videos</h2>

  <p>
    <a class="btn btn-default" href="http://video.webcamp.si/">WebCamp 2015 Videos</a>
  </p>

</div>

<div id="sponsors" class="section">
	<h1>Sponsors</h1>
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="http://www.toptal.com"><img src="/assets/images/toptal.png" /></a>
		</div>
		<div class="col-md-12">
			<p><a href="http://www.toptal.com">Toptal</a> is a community of the smartest freelance designers and software engineers in the world, all of whom must pass a rigorous screening process to be admitted, and its community operates from 93+ countries and hosts frequent meetups, tech talks, and conferences all across the world. With backing from Andreessen Horowitz, Adam D’Angelo of Quora, and others, Toptal connects thousands of elite freelance developers to over 2,000 clients including large enterprise companies such as J.P. Morgan and Pfizer, tech companies such as Airbnb and Zendesk, and numerous startups, providing world-class solutions that meet the most complex and challenging requirements.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="http://www.celtra.com"><img src="/assets/images/celtra.png" /></a>
		</div>
		<div class="col-md-12">
			<p><a href="http://celtra.com">Celtra</a> empowers agencies, media suppliers and brand
			leaders alike with an integrated, truly scalable cross-screen HTML5
			technology for brand and video advertising. The creative platform
			for display and video brand advertising, improves the quality of
			the message &amp; the way the message is presented to consumers.
			AdCreator is built to run large-scale and complex campaigns. It is
			a single platform for streamlined ad creation, performance
			optimized serving and consolidated reporting with common metrics
			across all screens.</p>

			<p>Celtra is one of the fastest growing companies in mobile
			advertising today. AdCreator, our award-winning platform for
			creating, serving and analysing mobile ads is powering 5000+ brands
			such as  Unilever, Coca Cola, AT&amp;T, Kraft, P&amp;G, Nike,
			Intel and many others.</p>

			<p>Our engineers spend their days building a product we all
			love and share a passion for, making mobile browsers jump through
			hoops, making big data look small and doing the humanity a favor by
			making it incredibly easy to build ads people actually tap
			on.</p>

			<p>Our offices in Ljubljana, Boston, San Francisco, New York,
			Los Angeles, Chicago, London and Sydney are always full of talent,
			laughter, action, innovative ideas and snacks.</p>

			<a href="https://twitter.com/@celtramobile">@celtramobile</a><br />
			<a href="http://celtra.com/">celtra.com</a><br />
			<a href="http://celtra.com/about/blog">celtra.com/about/blog</a><br />
		</div>
	</div>
</div>

<div id="partners" class="section">
  <h1>Partners</h1>

  <div class="row">
    <div class="col-md-6">
      <a href="http://www.fri.uni-lj.si/en/"><img src="/assets/images/fri-logo-2.png" /></a>
    </div>
		<div class="col-md-6">
      <a href="http://www.fri.uni-lj.si/en/lgm/description/"><img src="/assets/images/lgm-logo.png" /></a>
    </div>
  </div>

  <p>
    This event would not be possible without the generous help of <a href="http://www.fri.uni-lj.si/en/about/">Faculty of Computer and Information Science</a>.
    They also host a lot of other interesting events. Check out their <a href="http://www.fri.uni-lj.si/si/novice_in_dogodki/aktivne/">event list</a> and <a href="http://www.fri.uni-lj.si/si/izobrazevanje/">different post-graduate study programms.</a>
  </p>

</div>

<div id="contact" class="section">
	<div class="row">
		<div class="col-md-12">
		  <h1>Contact</h1>
	    <p>
	      <a href="mailto:info@webcamp.si"><p>info@webcamp.si</p></a>
	    </p>
	    <p>
	      Phone: 041 893 765 (Jure Čuhalev)
	    </p>
	    <p>
	      <a href="https://twitter.com/webcampsi">
					<i class="fa fa-twitter fa-2x"></i>
	      </a>
				&nbsp;&nbsp;&nbsp;
	  		<a href="https://www.facebook.com/webcamp.si">
					<i class="fa fa-facebook fa-2x"></i>
	  		</a>
				<br /><br />
	    </p>
		</div>
		<div class="col-md-6">
			<h1>Team</h1>
			<ul class="list-unstyled">
				<li>Mojca Berce</li>
				<li>Jure Čuhalev</li>
				<li>Sabina Hosta</li>
				<li>Klemen Robnik</li>
				<li>Ana Sustič</li>
			</ul>
		</div>
		<div class="col-md-6">
			<h1>Talks committee</h1>
			<ul class="list-unstyled">
				<li>Swizec Teller</li>
				<li>Erika Pogorelc</li>
				<li>Brian King</li>
				<li>Miha Rekar</li>
			</ul>
		</div>
	</div>
</div>

<footer></footer>
