---
layout: default
title: Webcamp Ljubljana 2016
---

<p>
		WebCamp Ljubljana is the unconference where Web developers share knowledge, experience, and vim configurations.
		<br><br>
		It's organized <b>by the community for the community</b>. There will be over 300 attendees from Slovenia and the region. All talks will be in English.
		<br><br>
		Topics that will be covered are: <b>Front end</b>, <b>Back end</b> and <b>DevOps</b>.

		There will be three tracks: <b>Front-end</b>, <b>Back-end</b> and <b>DevOps</b>.
		And the fourth, most important one: <b>Good Time</b> with old and new friends,  good coffee and lots and lots of discussions with interesting people.
		<br><br>
		We want our events to be open and welcoming to everyone, so we ask you that you follow our <a href="{{ site.baseurl }}/code-of-conduct"  target="_blank">Code of Conduct</a>.
</p>

<div id="location" class="section">
	<h1>Location and Tickets</h1>

	<p>
		<b>When:</b> 12th March 2016<br />
		<b>Where:</b> Faculty of Computer and Information Science, Ljubljana<br />
		<b>Cost:</b> free, but you need a ticket<br />
	</p>

	<p>Tickets will be available after 15 February 2016. <b>We'll announce them only on the mailing list.</b><br /> Make sure you subscribe.</p>
	<p><a href="http://eepurl.com/8f5HT" target="_blank">Subscribe to the announcements mailing list.</a></p>

	<p>If you are a current student of Faculty of Computer and Information Science, you can get a ticket by emailing us at info@webcamp.si.</p>


	<p class="content">We thank the <a href="http://www.fri.uni-lj.si/en/about/">Faculty of Computer and Information Science in Ljubljana</a> for hosting us. <br/>
		<strong>The Faculty is a leading research and teaching institution for information sciences</strong> with several active research groups and distinguished alumni.
	<br /><br />
	<a href="http://www.fri.uni-lj.si/en/about/how_to_reach_us/">Detailed instructions on getting to the Faculty building</a>
	</br ><br />
	If you are arriving by car, you can park on the either side of the Faculty building.
	</p>
		<div id="disapear-on-click" class="location-zoom">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2769.021058795885!2d14.472292399999999!3d46.0506782!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47652d52dfb93cd7%3A0xbfcd354b74411729!2sVe%C4%8Dna+pot+113%2C+1000+Ljubljana!5e0!3m2!1sen!2ssi!4v1408359697852" frameborder="0" style="border:0; width: 100%;
			height: 400px;"></iframe>
		</div>
</div>

<!--
<div id="iot" class="section">
  <h1>IoT call for participants</h1>

  <h2>Internet of Things Corner</h2></br>
  <p>Internet of Things corner will be present this year again.
		If you’re building hardware that is connected to the internet, let us know and show it to other attendees.
		You’ll get a table, power and a lot interesting discussions. </p></br>
	<div>
		<a href="http://webcamp.typeform.com/to/XAI628" target="_blank" class="btn btn-default" target="_blank">Apply here</a>
	</div>
</div>
-->

<!--
<div class="section">
  <div class='embed-container'>
    <iframe src='https://www.youtube-nocookie.com/embed/ZlhGh-nx734?rel=0&amp;showinfo=0' frameborder='0' allowfullscreen></iframe>
  </div>
</div>
-->

<!--
<div id="cfp" class="section">
  <h1>Call for Talks</h1>

  <h2>Come give us a talk on:</h2>
  <ul>
    <li>Front-end (HTML5, CSS, JavaScript, ..)</li>
    <li>Back-end (Frameworks, Languages, Middleware)</li>
    <li>DevOps (Virtualization, Orchestration, Practical approaches)</li>
    <li>or anything web developers care about</li>
  </ul>

  <h2>Talk format:</h2>

  <ul>
    <li>You have 25 minutes. Your talk should work offline. Screenshots are you best friends.</li>
    <li>We want interesting stories. Everyone can read a tutorial.</li>
    <li>We like videos more than demos. Come prepared.</li>
    <li>You can suggest a 5 minute <i>lightning talk</i> at the venue.</li>
  </ul>


  <h2>Timeline:</h2>
  <ul>
    <li>Friday, January 15 - Submission deadline</li>
    <li>Monday, February 1 - We'll notify The Chosen Ones</li>
    <li>Tuesday, February 16th - We tell everybody</li>
  </ul>


  <h2>
    <a href='https://webcamp.typeform.com/to/ZMs0gp' class="btn btn-default" target="_blank">Submit your talk</a>
  </h2>
</div>
-->

<div id="schedule" class="section">
	<h1>Schedule</h1>
	<div class="container-fluid">
		<div class="row">
  		<div class="col-xs-6 col-sm-2">
    		<p class="schedule-grey">8:00</p>
  		</div>
			<div class="col-xs-12 col-sm-10">
    		<p class="schedule-red"><strong>Registration opens</strong> / Everyone with a ticket, welcome!</p>
  		</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">9:00</p>
			</div>
			<div class="col-xs-12 col-sm-10 ">
				<p class="schedule-red"><strong>Opening remarks</strong></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-2 col-xs-10">
				<p class="schedule-grey"><strong>Talks</strong> / We will start with first set of talks.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-2 col-xs-10">
				<p class="schedule-grey"><strong>Room 1</strong> / Frontend </p>
			</div>
		</div>
		<div class="row">
  		<div class="col-xs-6 col-sm-2">
    		<p class="schedule-grey">9:30</p>
  		</div>
			<div class="col-xs-12 col-sm-10">
				<a href="/Anze-Znidarsic"><p class="schedule-red-on-red"><strong>Anze Žnidaršič</strong> / Using JavaScript ES2015 (ES6), ES2016, ES* in production</p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">10:00</p>
			</div>
			<div class="col-xs-12 col-sm-10">
				<a href="/Ivan-Lucin"><p class="schedule-red-on-red"><strong>Ivan Lučin</strong> / Cheating on Rails with Ember</p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">10:30</p>
			</div>
			<div class="col-xs-12 col-sm-10">
				<a href="/Slobodan-Stojanovic"><p class="schedule-red-on-red"><strong>Slobodan Stojanović</strong> / Offline web apps</p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-2 col-xs-10">
				<p class="schedule-grey"><strong>Room 2</strong> / Devops </p>
			</div>
		</div>
		<div class="row">
  		<div class="col-xs-6 col-sm-2">
    		<p class="schedule-grey">9:30</p>
  		</div>
			<div class="col-xs-12 col-sm-10">
				<a href="/Bozhidar-Batsov"><p class="schedule-red-on-red"><strong>Bozhidar Batsov</strong> / The Burden of Project Stewardship</p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">10:00</p>
			</div>
			<div class="col-xs-12 col-sm-10">
				<a href="/Primoz-Cigler"><p class="schedule-red-on-red"><strong>Primoz Cigler</strong> / Beauties and challenges of remote work</p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">10:30</p>
			</div>
			<div class="col-xs-12 col-sm-10">
				<a href="/Luka-Muzinic"><p class="schedule-red-on-red"><strong>Luka Muzinic</strong> / Dashboards for devops and other web folks</p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-2 col-xs-10">
				<p class="schedule-grey"><strong>Room 3</strong> / Backend </p>
			</div>
		</div>
		<div class="row">
  		<div class="col-xs-6 col-sm-2">
    		<p class="schedule-grey">9:30</p>
  		</div>
			<div class="col-xs-12 col-sm-10">
				<a href="/Srdjan-Vranac"><p class="schedule-red-on-red"><strong>Srdjan Vranac</strong> / Roll out - Code deployments that do not suck</p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">10:00</p>
			</div>
			<div class="col-xs-12 col-sm-10">
				<a href="/Josip-Maslac"><p class="schedule-red-on-red"><strong>Josip Maslać</strong> / Scaling just a bit</p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">10:30</p>
			</div>
			<div class="col-xs-12 col-sm-10">
				<a href="/Aleksandar-Stevanovic"><p class="schedule-red-on-red"><strong>Aleksandar Stevanovic</strong> / Change is hard - make your life easy by making code simple</p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-2 col-xs-10">
				<p class="schedule-grey"><strong>Iot corner</strong></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">10.00</p>
			</div>
			<div class="col-xs-12 col-sm-10">
				<p class="schedule-grey"><strong>IoT corner</strong> will take place from 10:00 to 13:00. You'll be able to check it out during coffee/tea break and beginning of lunch break.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">11.00</p>
			</div>
			<div class="col-xs-12 col-sm-10">
				<p class="schedule-grey"><strong>Break</strong> / Time for Coffee and Tea and time for IoT corner.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-2 col-xs-10">
				<p class="schedule-grey"><strong>Talks</strong> /  Second set of talks.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-2 col-xs-10">
				<p class="schedule-grey"><strong>Room 1</strong> / Frontend </p>
			</div>
		</div>
		<div class="row">
  		<div class="col-xs-6 col-sm-2">
    		<p class="schedule-grey">11.30</p>
  		</div>
			<div class="col-xs-12 col-sm-10">
				<a href="/Mark-Nadal"><p class="schedule-red-on-red"><strong>Mark Nadal</strong> / The Front-end Back-end without DevOps</p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">12.00</p>
			</div>
			<div class="col-xs-12 col-sm-10">
				<a href="/Andrei-Zvonimir-Crnkovic"><p class="schedule-red-on-red"><strong>Andrei Zvonimir Crnković</strong> / Go reactive or go home</p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">12.30</p>
			</div>
			<div class="col-xs-12 col-sm-10">
				<a href="/Andraz-Bajt"><p class="schedule-red-on-red"><strong>Andraz Bajt</strong> / Purely functional frontend</p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-2 col-xs-10">
				<p class="schedule-grey"><strong>Room 2</strong> / Devops </p>
			</div>
		</div>
		<div class="row">
  		<div class="col-xs-6 col-sm-2">
    		<p class="schedule-grey">11.30</p>
  		</div>
			<div class="col-xs-12 col-sm-10">
				<a href="/Rok-Carl"><p class="schedule-red-on-red"><strong>Rok Carl</strong> / Becoming DevOps, a developer's tale</p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">12.00</p>
			</div>
			<div class="col-xs-12 col-sm-10">
				<a href="/Marko-Kazic"><p class="schedule-red-on-red"><strong>Marko Kazic</strong> / Where we fail at teaching programming</p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">12.30</p>
			</div>
			<div class="col-xs-12 col-sm-10">
				<a href="/Luka-Kladaric"><p class="schedule-red-on-red"><strong>Luka Kladaric</strong> / The importance of being a noob</p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-2 col-xs-10">
				<p class="schedule-grey"><strong>Room 3</strong> / Backend </p>
			</div>
		</div>
		<div class="row">
  		<div class="col-xs-6 col-sm-2">
    		<p class="schedule-grey">11.30</p>
  		</div>
			<div class="col-xs-12 col-sm-10">
				<a href="/Nebojsa-Stricevic"><p class="schedule-red-on-red"><strong>Nebojsa Stricevic</strong> / Supercharged Feature Flags</p></a>

			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">12.00</p>
			</div>
			<div class="col-xs-12 col-sm-10">
				<a href="/Robert-Sorn"><p class="schedule-red-on-red"><strong> Robert Šorn</strong> / Domain Driven Design in a nutshell</p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">12.30</p>
			</div>
			<div class="col-xs-12 col-sm-10">
				<a href="/Simon-Belak"><p class="schedule-red-on-red"><strong>Simon Belak</strong> / The Log, the View and the Stream</p></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">13.00</p>
			</div>
			<div class="col-xs-12 col-sm-10">
				<p class="schedule-grey"><strong>Lunch</strong> / Pizza for everyone.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">14.00</p>
			</div>
			<div class="col-xs-12 col-sm-10">
				<p class="schedule-red-on-red"><strong>Lightning talks 1</strong> / First set of lightning talks start at this point.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">15.00</p>
			</div>
			<div class="col-xs-12 col-sm-10">
				<p class="schedule-red-on-red"><strong>Lightning talks 2</strong> / Second set of lightning talks.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">16.00</p>
			</div>
			<div class="col-xs-12 col-sm-10">
				<p class="schedule-red"><strong>Closing remarks</strong></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<p class="schedule-grey">18.00</p>
			</div>
			<div class="col-xs-12 col-sm-10 ">
				<p class="schedule-red"><strong>Party at <a href="http://www.stapotovanja.com/sta/sta-travel-cafe">STA Travel Cafe!</a></strong></p>
			</div>
		</div>
	</div><!-- end div container-fluid -->
</div>

<div id="talks" class="section">
  <h1>Talks</h1>
	<div class="container-fluid">
		<div class="row">
			{% assign posts = site.posts | sort:"track" %}
			{% for post in posts %}
				{% if post.role == 'talk' %}
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<a href="{{ site.baseurl }}{{ post.url }}"><span class="talk-info">
								<img class="talk-image" src="{{ site.baseurl }}/assets/images/speakers/{{ post.avatar }}" />
								<div class="talker-name">
									{{ post.name }}
								</div>
								<div class="talk-title">
									{{ post.title }}
								</div>
								<span class="talk-role talk-bottom">
						 			{{ post.track }}
								</span>
							</span>
						</a>
					</div> <!-- end div col-xs-12 col-sm-6 col-md-4 col-lg-3 -->

				{% endif %}
			{% endfor %}
	 		<div class="clearfix"></div>
		</div> <!-- end div row -->
	</div> <!-- end div container-fluid -->
</div>

<div id="iotcorner" class="section">
  <h1>IoT corner</h1>
	<div class="container-fluid">
		<div class="row">
			{% assign posts = site.posts | sort:"name"%}
			{% for post in posts %}
				{% if post.role == 'iot' %}
					<div class="col-xs-12 col-sm-3">
							<a href="{{ site.baseurl }}{{ post.url }}"><span class="iot-info">
								<img class="talk-image" src="{{ site.baseurl }}/assets/images/iot/{{ post.avatar }}" />
								<div class="talker-name">
									{{ post.name }}
								</div>
								<div class="talk-title">
									{{ post.title }}
								</div>
								</span>
						</a>
					</div> <!-- end div col-xs-12 col-sm-6 col-md-4 col-lg-3 -->

				{% endif %}
			{% endfor %}
	 		<div class="clearfix"></div>
		</div> <!-- end div row -->
	</div> <!-- end div container-fluid -->
</div>

<div id="2015" class="section">
  <h1>Highlights from 2015</h1>

  <div class='embed-container'>
    <iframe src='https://www.flickr.com/photos/webcampsi/albums/72157650973111250/player' frameborder='0' allowfullscreen></iframe>
  </div>

  <h2>Check out talk videos</h2>

  <p>
    <a class="btn btn-default" href="http://video.webcamp.si/">WebCamp 2015 Videos</a>
  </p>

</div>

<div id="sponsors" class="section">
	<h1>Sponsors</h1>
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="http://www.toptal.com" class="sponsor-logo"><img src="/assets/images/toptal.png" /></a>
		</div>
		<div class="col-md-12">
			<p><a href="http://www.toptal.com">Toptal</a> is a community of the smartest freelance designers and software engineers in the world, all of whom must pass a rigorous screening process to be admitted, and its community operates from 93+ countries and hosts frequent meetups, tech talks, and conferences all across the world. With backing from Andreessen Horowitz, Adam D’Angelo of Quora, and others, Toptal connects thousands of elite freelance developers to over 2,000 clients including large enterprise companies such as J.P. Morgan and Pfizer, tech companies such as Airbnb and Zendesk, and numerous startups, providing world-class solutions that meet the most complex and challenging requirements.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="http://www.celtra.com" class="sponsor-logo"><img src="/assets/images/celtra.png" /></a>
		</div>
		<div class="col-md-12">
			<p><a href="http://celtra.com">Celtra</a> empowers agencies, media suppliers and brand
			leaders alike with an integrated, truly scalable cross-screen HTML5
			technology for brand and video advertising. The creative platform
			for display and video brand advertising, improves the quality of
			the message &amp; the way the message is presented to consumers.
			AdCreator is built to run large-scale and complex campaigns. It is
			a single platform for streamlined ad creation, performance
			optimized serving and consolidated reporting with common metrics
			across all screens.</p>

			<p>Celtra is one of the fastest growing companies in mobile
			advertising today. AdCreator, our award-winning platform for
			creating, serving and analysing mobile ads is powering 5000+ brands
			such as  Unilever, Coca Cola, AT&amp;T, Kraft, P&amp;G, Nike,
			Intel and many others.</p>

			<p>Our engineers spend their days building a product we all
			love and share a passion for, making mobile browsers jump through
			hoops, making big data look small and doing the humanity a favor by
			making it incredibly easy to build ads people actually tap
			on.</p>

			<p>Our offices in Ljubljana, Boston, San Francisco, New York,
			Los Angeles, Chicago, London and Sydney are always full of talent,
			laughter, action, innovative ideas and snacks.</p>

			<a href="https://twitter.com/@celtramobile">@celtramobile</a><br />
			<a href="http://celtra.com/">celtra.com</a><br />
			<a href="http://celtra.com/about/blog">celtra.com/about/blog</a><br />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<a href="http://www.4thoffice.com/" class="sponsor-logo"><img src="/assets/images/4thoffice.png" /></a>
		</div>
		<div class="col-md-12">
			<p>The relentless march of technology and its ever growing cacophony of messages and notifications are making collaboration harder than ever. Communicating has become a cause of stress rather than something we should all enjoy. <a href="http://www.4thoffice.com/">4th Office</a>, a Slovenian company based in London, UK is upgrading your email experience by adding an intelligent communications assistant, called Scarlett, to your email. She ensures you never miss follow ups or get distracted on the go.</p>
			<p>The company is funded by Ben White and Notion Capital in the UK as well as RSG Capital in Slovenia to transform the way we organise and communicate online. Our offices in Technology Park, Ljubljana and Second Home, London are filled with young, international talent ambitiously building the ultimate lifehack.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-center">
			<a href="https://reciprocitylabs.com/" class="sponsor-logo"><img src="/assets/images/reciprocity.png" /></a>
		</div>
		<div class="col-md-12">
			<p><a href="https://reciprocitylabs.com/">Reciprocity's</a> SaaS product, ZenGRC, helps companies manage their ever growing compliance needs. The compliance market is 5 billion per year and growing fast. Our customers include Google, Uber, Airbnb, Apple, Salesforce, Square and more. We are competing against spreadsheets and old-school $1M and up enterprise solutions. Our team works and plays in San Francisco, Ljublijana, and Novi Sad.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-center">
			<a href="http://www.marand.com/" class="sponsor-logo"><img src="/assets/images/marand.png" /></a>
		</div>
		<div class="col-md-12">
			<p>
				<a href="http://www.marand.com">Marand</a> is a internationally recognized and awarded solution provider in healthcare offering products including Think!EHR Platform, Think!Meds and EhrScape.com. Our Think!EHR Platform™ is based on open standards and supports efficient recording, viewing and exchange of medical data. Think!EHR Platform™ was selected as one of the finalist for the best eHealth solution in EU »eHealth Competition«.
			</p>
			<p>
				As our our sucesses and awards grow, so does the need to expand our development team. Do you develop in Java? Are you familiar with J2EE, SOA, MVC and most popular IDE environments? Send us your CV to <a href="mailto:zaposlitve@marand.si">zaposlitve@marand.si</a> and join our team. For other career opportunities, follow us on <a href="https://www.linkedin.com/company/marand">LinkedIn</a> or visit <a href="http://www.marand.com/en/about/careers/">Marand.com/en/about/careers/</a>.
			</p>
		</div>
	</div>

	<div class="row sponsors-buna">
		<div class="col-md-4">
			<a href="https://kendu.si/" class="sponsor-logo"><img src="/assets/images/kendu.png" /></a>
		</div>
		<div class="col-md-8">
			<p><a href="https://kendu.si/">Kendu</a> - delivering web and mobile applications with the right attitude.
			<br /><br />
			We strive to optimize performance, establish processes for quality assurance and determine what needs automation. From a rapid prototype development, system architecture and server infrastructure design, we develop solid code with a clear user interface, while scaling the team with specific business requirements.</p>
		</div>
	</div>


	<div class="row sponsors-buna">
		<div class="col-md-4">
			<a href="http://www.buna.si/" class="sponsor-logo"><img src="/assets/images/buna.jpg" /></a>
		</div>
		<div class="col-md-8">
			Ensuring freshness, price transparency, revealing the origin  of products and environmental responsibility are 4 key elements of the <a href="http://www.buna.si/">Buna concept</a>.
			<br /><br />
			Each Buna product is accompanied with information about its ORIGIN. Raw materials and products used in preparation of Buna come from the Fair Trade system or are made in accordance with its principles. We aim for the shortest possible trade chain between the grower, the producer and the consumer in order to guarantee FRESHNESS of our products.  By revealing the details of our price structure we ensure TRANSPARENCY to our customers. Buna users will be able to adjust their price by reusing the packaging of Buna, joining us and the people we work with in ENVIRONMENTAL RESPONSIBILITY.
		</div>
	</div>

	<div class="row sponsors-buna">
		<div class="col-md-4">
			<a href="http://www.pelicon.beer/" class="sponsor-logo"><img src="/assets/images/pelicon.png" /></a>
		</div>
		<div class="col-md-8">
			<a href="http://www.pelicon.beer/">Pivovarna Pelicon</a> is an independent microbrewery located in the town of Ajdovscina in the heart of Vipava valley. Their craft beers are non filtered, non pasteurized and full of taste - just the way we like them.
			<br /><br />
			Pivovarna Pelicon focuses on the quality and creativity during the development of new beer recipes. They strive to continuously improve to get people excited about their the craft beer offering.
		</div>
	</div>
</div>

<div id="partners" class="section">
  <h1>Partners</h1>

  <div class="row">
    <div class="col-md-6">
      <a href="http://www.fri.uni-lj.si/en/"><img src="/assets/images/fri-logo-2.png" /></a>
    </div>
		<div class="col-md-6 ">
      <a href="http://www.fri.uni-lj.si/en/lgm/description/"><img class="lgm-logo" src="/assets/images/lgm-logo.png" /></a>
    </div>
  </div>

  <p class="fri-tagline">
    This event would not be possible without the generous help of <a href="http://www.fri.uni-lj.si/en/about/">Faculty of Computer and Information Science</a>.
    They also host a lot of other interesting events. Check out their <a href="http://www.fri.uni-lj.si/si/novice_in_dogodki/aktivne/">event list</a> and <a href="http://www.fri.uni-lj.si/si/izobrazevanje/">different post-graduate study programms.</a>
  </p>

</div>

<div id="contact" class="section">
	<div class="row">
		<div class="col-md-12">
		  <h1>Contact</h1>
	    <p>
	      <a href="mailto:info@webcamp.si"><p>info@webcamp.si</p></a>
	    </p>
	    <p>
	      Phone: 041 893 765 (Jure Čuhalev)
	    </p>
	    <p>
	      <a href="https://twitter.com/webcampsi">
					<i class="fa fa-twitter fa-2x"></i>
	      </a>
				&nbsp;&nbsp;&nbsp;
	  		<a href="https://www.facebook.com/webcamp.si">
					<i class="fa fa-facebook fa-2x"></i>
	  		</a>
				<br /><br />
	    </p>
		</div>
		<div class="col-md-6">
			<h1>Team</h1>
			<ul class="list-unstyled">
				<li>Mojca Berce</li>
				<li>Jure Čuhalev</li>
				<li>Sabina Hosta</li>
				<li>Klemen Robnik</li>
				<li>Ana Sustič</li>
			</ul>
		</div>
		<div class="col-md-6">
			<h1>Talks committee</h1>
			<ul class="list-unstyled">
				<li>Swizec Teller</li>
				<li>Erika Pogorelc</li>
				<li>Brian King</li>
				<li>Miha Rekar</li>
			</ul>
		</div>
	</div>
</div>

<footer></footer>
