/**
 * Site header
 */

.site-header {

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 28px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-family: $heading-family;
    font-weight: 500;

    &,
    &:visited {
        color: #000000;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}
header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../assets/images/WC_photo_banner.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}


/**
 * Logo
 */

.logo {
  padding: 5px 0;
	position: relative;
	z-index:100;
	background:transparent;
  text-align: center;
  max-width: 50%;

	img {
		display: block;
		height: auto;


	}
}
/**
 * Social media icons
 */

.tbl-op ul {
    margin-left:0;
    padding:0;
    list-style-type:none;
    .twitter{
      color: $social-icon-normal;

      &:hover {
        color: $twitter-hover;
      }
    }
    .facebook{
      color: $social-icon-normal;

      &:hover {
        color: $facebook-hover;
      }
    }
}

.tbl-op {
  padding-right: 50px;
  padding-top: 25px;
}

.tbl-op li {
    cursor:pointer;
    display:inline-block;
}

.tbl-op li .fa-li {
    position: static;
}

/**
 * Form
 */
 .form {
   background-color: transparent;

   #mc_embed_signup {
     font-size: 16px;

     form {
       padding-left: 0;
       padding-bottom:100px;
       margin-top:2em;
       h1 {
         font-family: $base-font-family;
         text-transform: none;
         font-weight:900;
         font-size: 50px;
         margin-top:60px;
         text-align: center;
         color: white;
       }

       h2 {
         font-family: $base-font-family;
         text-transform: none;
         font-weight:300;
         margin-top:5px;
         text-align: left;
         color: white;
       }
       .asterisk{
         color: #c47066;
       }
       .signup {
         width: 75%;
         max-width:600px;
         margin: 0 auto;
       }
     }

     .indicates-required {
       margin-top: 0;
       color: white;
       margin-right: 5%;
     }

     .mc-field-group {
       color: white;

       label {
         font-weight: lighter;
       }

       input {
         border: none;
         color: $grey-color-dark;
         background-color: rgba(255,255,255,0.6);

         &:focus {
           background-color: rgba(255,255,255,0.9);
         }
       }
     }

     .button {
       background-color: $green-normal;
       margin: 15px 4% 10px 0;
       color: white;
       font-family:$heading-family;

       &:hover {
         background-color: $green-hover;
       }
     }
   }
 }




/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
