.talk-image {
	  display: block;
	  height: auto;
	}

.talk-title {
	font-weight: 400;
	color: $red-color;
	position:relative;
	padding: 0 0 0 0.50em;
	@media(max-width:767px) {
      font-size: 0.8em;
  }
}
.talk-bottom{
	position: absolute;
  bottom: 0;
  left: 0;
}

.talk-role {
	font-size: 0.7em;
	font-weight: 600;
	color: $white-color;
	text-transform: lowercase;
	position: absolute;
  bottom: 0;
  left: 0;
	margin-bottom: 0.50em;
	padding: 0 0 0 0.50em;
}

.talk-twitter{
	color: $grey-color;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 0.3em;
	padding: 0 0.5em 0 0;
}

.talk-info {
	height:22em;
	position:relative;
	background-color: $red-color-talks;
	margin-bottom: 2em;
}

.talker-page-name {
	margin-top:50px;
	font-size: 1.3em;
	font-weight: 700;
	font-family: $base-font-family;
	padding: 0.5em 0 0;
	color: $text-color;
	position:relative;
}

.iot-talk-info {
	height:10em;
	position:relative;
	background-color: $background-color;
	padding:0px;
}

.iot-project {
	font: {
		size: 1em;
		weight: 400;
	};
	color: $text-color;
	background-color: $background-color;
	padding:10px;
}

.iot-project-page {
	font: {
		size: 1.5em;
		weight: 700;
		family: $base-font-family;
	};
	padding: 0.5em 0 0;
	color: $text-color;
	position:relative;
}

.iot-photo {
	width: 100%;
}
