.talkers {
	padding-left:0;
	display:block;
	width:100%;
	text-align: left;
	margin: 5% auto;
}

.talkers-one{
	vertical-align: top;
	background-color: $red-color-talks;
	&:hover {
		background-color: $grey-color;
	}
}


.talker-name {
		font-weight: 600;
		color: $red-color;
		padding: 0.50em;
		float: left;
		width: 100%;
	}
