.talkers {
	padding-left:0;
	display:block;
	width:100%;
	text-align: center;
	margin: 5% auto;
}

.talkers-one{
	width: 29%;
	display: inline-block;
	vertical-align: top;
	margin: 0px 20px 20px 0px;
	background-color: $grey-color-light;

	&:hover {
		background-color: $grey-color-light;
	}
	h2 {
		margin-bottom: 5px;
	};
}

.talker-name {
	font: {
		size: 0.9em;
		weight: 400;
	};
	color: $text-color;
	background-color: rgba(255, 255, 255, 0.8);
}
