.talkers {
	padding-left:0;
	display:block;
	width:100%;
	text-align: center;
	margin: 5% auto;
}

.talkers-one{
	display: inline-table;
	margin:2%;
	width: 11em;
	height: 11em;
	background-color: $grey-color-light;

	&:hover {
		background-color: $grey-color-light;
	}
}

.talker-name {
	font: {
		size: 0.9em;
		weight: 400;
	};
	color: $text-color;
	background-color: rgba(255, 255, 255, 0.8);
	width: 11em;
}
