<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-8 col-md-offset-3">
            <ul class="nav navbar-nav text-center">
              <!--
              <li><a href="{{ site.baseurl }}/#cfp">CALL FOR TALKS</a></li>
              -->
              <li><a href="{{ site.baseurl }}/#talks">TALKS</a></li>
              <li><a href="{{ site.baseurl }}/#2015">LAST YEAR</a></li>
              <li><a href="{{ site.baseurl }}/#sponsors">SPONSORS</a></li>
              {% comment %}
              <li><a href="{{ site.baseurl }}/#partners">PARTNERS</a></li>
              {% endcomment %}
              <li><a href="{{ site.baseurl }}/#contact">CONTACT</a></li>

              {% comment %}
              <li><a href="{{ site.baseurl }}/#talks">TALKS</a></li>
              <li><a href="{{ site.baseurl }}/#team">TEAM</a></li>
              <li><a href="{{ site.baseurl }}/#location">LOCATION</a></li>
              {% endcomment %}
            </ul>
        </div>
      </div>

      <div class="page-content">
        <div class="col-md-6 col-md-offset-3">
          {{ content }}
        </div>
      </div>
    </div>

    {% comment %}
      {% include footer.html %}
    {% endcomment %}

  </body>

</html>
