---
layout: default_without_mailchimp
---

<section class="container-fluid">
	<div class="content">
		<div clas="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="talk-image">
						<img src="{{ site.baseurl }}/assets/images/speakers/{{ page.avatar }}" />
					</div>
					<div class="talker-name">{{ page.name }}</div>
					{% if page.twitter %}
						<div>
							<a href="https://twitter.com/{{ page.twitter}}" class="talk-twitter">
								<i class='fa fa-twitter fa-1x'>
								</i>
							</a>
						</div>
						{% endif %}
					</div>
				<div class="col-xs-12 col-sm-6 col-md-8">
					<p class="talker-name">{{ page.title }}</p>
					<div class="talker-page-name">
						{{ content }}
					</div>
					<div class="section"></div>
				</div>
			</div>
		<a href="{{ site.baseurl }}/#talks" class="back">< Back to talks</a>
	</div> <!--end div content -->
</section>
