---
layout: default_without_mailchimp
---

<section class="slide">
	<div class="content">
		<div clas="row">
				<div class="col-md-4">
					<p class="talk-image">
						<img src="{{ site.baseurl }}/assets/images/speakers/{{ page.avatar }}" />
					</p>
					<p class="talker-name">{{ page.name }}</p>
				</div>
				<div class="col-md-8">
					<p class="talker-name">{{ page.title }}</p>
					<div>
						{{ content }}
					</div>
				</div>
			</div>
		<a href="{{ site.baseurl }}/#talks" class="back">< Back to talks</a>
	</div>
</section>
